<!DOCTYPE html>
<html>
	<head>
		<title>
			<%= title %>
		</title>
		<link rel='stylesheet' href='/stylesheets/mystyle.css'>
	</head>	
	<body>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
		<script type="text/javascript" src="/javascripts/global.js"></script>
