<% include ../partials/header.ejs %>

<h1><%= title %></h1>
<p>Welcome to our test</p>
<div id='wrapper'>
	<h2> User List </h2>
	<div id='userList'>
		<table>
			<thead>
				<th> User Name </th>
				<th> Email </th>
				<th> Delete? </th>
			</thead>
			<tbody>
					
			</tbody>
		</table>
	</div>
</div>

<% include ../partials/footer.ejs %>