<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome :D</p>
    <a href="/todo">Add a new task ?</a>
    <span>&nbsp;&nbsp;&nbsp;</span>
    <a href="/list">View all existing tasks ?</a>
  </body>
</html>
